DATABASE_URL=your-database-connection-string

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=your-clerk-publishable-key
CLERK_SECRET_KEY=your-clerk-secret-key

IMAGEKIT_PUBLIC_KEY=imagekit-public-key
IMAGEKIT_PRIVATE_KEY=imagekit-private-key
IMAGEKIT_URL_ENDPOINT=your-url-endpoint

API_SECRET=your-secret-key
FRONTEND_URL=http://localhost:3000

UPSTASH_REDIS_URL="https://xxx.upstash.io"
UPSTASH_REDIS_TOKEN="your-token"